@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

/* font-family: 'Raleway', sans-serif; */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	/* animation: gradient 17s ease infinite; */
	/* background-color: #cdc1ff;
	background: linear-gradient(135deg, #4E453A, #141715, #4e453a); */

	background: #141414; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #c0b8ae, #141414);
	background: linear-gradient(to left, #c0b8ae, #141414);

	/* background-size: 400% 400%; */
	background-color: #141414;
}

@keyframes gradient {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}

.card {
	position: relative;
	width: 350px;
	height: 440px;
	background: #f2f2f2;
	border-radius: 20px;
	box-shadow: 0 35px 80px rgba(0, 0, 0, 0.2);
	transition: 0.5s;
}

.card:hover {
	height: 470px;
}

.imgBox {
	position: absolute;
	left: 50%;
	top: -50px;
	transform: translateX(-50%);
	width: 230px;
	height: 330px;
	background: white;
	border-radius: 20px;
	box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
	overflow: hidden;
	transition: 0.5s;
}

.card:hover .imgBox {
	width: 270px;
	height: 360px;
}

.imgBox img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	font-family: 'Amatic SC', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.text h2 {
	font-size: 34px;
	font-weight: 700;
	color: #333;
	line-height: 1.3em;
}

.text span {
	font-size: 26px;
	font-weight: 400;
	color: #888;
}

.card .content {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	overflow: hidden;
}

.card .content .details {
	padding-bottom: 15px;
	text-align: center;
	width: 100%;
	transition: 0.5s;
	transform: translateY(80px);
}

.card:hover .content .details {
	padding: 15px 0;
	transform: translateY(0);
}

.data p {
	cursor: pointer;
}

.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 999;
}

.popup {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #f2f2f2;
	border-radius: 15px;
	box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
	padding: 20px;
	max-width: 90%;
	overflow-y: auto;
}

.popup-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.popup-content .button-30 {
	width: 50%;
	margin-top: 15px;
}

.popup-content img {
	border-radius: 15px;
}

.close {
	position: absolute;
	top: -3px;
	right: 7px;
	font-size: 32px;
	font-weight: 700;
	cursor: pointer;
}

/* CSS */
.button-30 {
	align-items: center;
	appearance: none;
	background-color: #fcfcfd;
	border-radius: 4px;
	border-width: 0;
	box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
	box-sizing: border-box;
	color: #36395a;
	cursor: pointer;
	display: inline-flex;
	font-family: 'JetBrains Mono', monospace;
	height: 48px;
	justify-content: center;
	line-height: 1;
	list-style: none;
	overflow: hidden;
	padding-left: 16px;
	padding-right: 16px;
	position: relative;
	text-align: left;
	text-decoration: none;
	transition: box-shadow 0.15s, transform 0.15s;
	user-select: none;
	--webkit-user-select: none;
	touch-action: manipulation;
	white-space: nowrap;
	will-change: box-shadow, transform;
	font-size: 18px;
}

.button-30:focus {
	box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.button-30:hover {
	box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
	transform: translateY(-2px);
}

.button-30:active {
	box-shadow: #d6d6e7 0 3px 7px inset;
	transform: translateY(2px);
}

@media (max-width: 830px) {
	.popup {
		padding: 2px;
		max-width: 100%;
	}

	.close {
		position: absolute;
		top: 0;
		right: 12px;
		font-size: 40px;
		cursor: pointer;
	}

	.popup-content .button-30 {
		margin-bottom: 15px;
	}
}

@media (max-width: 430px) {
	.popup {
		padding: 2px;
		max-width: 100%;
	}

	.close {
		position: absolute;
		top: 0;
		right: 12px;
		font-size: 40px;
		cursor: pointer;
	}

	.popup-content .button-30 {
		margin-bottom: 15px;
	}
}
